<div class="page-header">
  <h1>Edit Setting</h1>
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Setting</h3>
    </div>
    <div class="panel-body">
      <%= render "form" %>
    </div>
  </div>
</div>
